@media (max-width: 1140px) {
  .services_item {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 30px;
  }
  .section_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .section_grid {
    gap: 30px;
  }
  .tariff_item {
    max-width: 510px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .clients_item {
    max-width: 510px;
  }
  .steps_item {
    max-width: 510px;
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .services_item {
    grid-template-columns: repeat(2, 225px);
  }
  .section_grid img {
    max-width: 480px;
  }
  .footer_foot {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .tariff_item-down {
    grid-template-columns: repeat(1, 305px);
  }
  .services_item {
    grid-template-columns: repeat(1, 300px);
  }
  .section_grid img {
    max-width: 320px;
  }
  .header_title {
    font-size: 48px;
    line-height: 58px;
  }
}
@media (max-width: 480px) {
  .quote_title {
    font-size: 34px;
    line-height: 48px;
  }
}
@media (max-width: 425px) {
  .tariff_txt-up {
    padding-bottom: 30px;
    display: inline-block;
  }
  .header_title {
    font-size: 40px;
    line-height: 46px;
  }

  .header_down-title {
    font-size: 28px;
  }
  .section_grid img {
    max-width: 300px;
  }
  .tariff_item-between {
    flex-direction: column;
    padding-bottom: 60px;
  }
  .quote_title {
    font-size: 26px;
    line-height: 42px;
  }
}

@media (max-width: 320px) {
  .header_title {
    font-size: 36px;
  }

  .header_subtitle {
    font-size: 16px;
  }
}
